* {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    margin-left: 10px;
    padding-top: 10px;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
    resize: none;
}

.text-area::placeholder {
    color: #0A3871;
}

.text-area:focus {
    outline: none;
}

.informacao {
    color: #495057;
    font-size: 12px;
    font-weight: bold;
}

.mensagem {
    background: #FFFFFF;
    background-image: url(/img/robo.png);
    background-repeat: no-repeat;
    background-size: 15% auto;
    background-position: center;
    border: none;
    border-radius: 25px;
    color: #0A3871;
    margin-left: 90px;
    margin-top: 20px;
    position: fixed;
    resize: none;
}

.mensagem::placeholder {
    font-size: 20px;
    color: #0A3871;
}

.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.btn-encriptar {
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 25px;
    color: #FFFFFF;
    cursor: pointer;
    height: 65px;
    width: 285px;
}

.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 25px;
    color: #0A3871;
    cursor: pointer;
    height: 65px;
    margin-left: 30px;
    width: 285px;
}

.btn-copiar {
    border: 1px solid #0A3871;
    border-radius: 25px;
    color: #0A3871;
    cursor: pointer;
    height: 50px;
    margin-left: 100px;
    margin-top: 440px;
    position: absolute;
    width: 150px;
}

footer {
    text-align: center;
    padding: 40px 0;
}

.copyright {
    color: #000000;
    font-size: 15px;
}

.icon {
    width: 20px;
}